
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['heat-api', 'heat-api-cfn', 'heat-api-cloudwatch', 'heat-engine', 'heat-common','python-heatclient', 'gettext-base'],
        'services': ['heat-api', 'heat-api-cfn', 'heat-api-cloudwatch', 'heat-engine'],
        'notification': False
    },
    'RedHat': {
        'pkgs': ['openstack-heat-api', 'openstack-heat-api-cfn', 'openstack-heat-api-cloudwatch', 'openstack-heat-engine', 'openstack-heat-common'],
        'services': ['openstack-heat-api', 'openstack-heat-api-cfn', 'openstack-heat-api-cloudwatch', 'openstack-heat-engine'],
        'notification': False
    },
}, merge=pillar.heat.get('server', {})) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-heatclient'],
    },
    'RedHat': {
        'pkgs': ['python-heatclient'],
    },
}, merge=pillar.heat.get('client', {})) %}
